@import 'variables';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

button,
input,
select,
.btn {
  border-radius: 0 !important;
}

main a:not(#back-to-top-btn) {
  color: $vw-blue-lightened !important;
}

.btn-primary {
  background-color: $vw-blue-lightened !important;
  border-color: $vw-blue-lightened !important;

  &:hover {
    background-color: $vw-blue-highlight !important;
  }
}

.bg-light {
  background-color: $bg-light !important;
}

.navbar {
  border-bottom: solid $vw-blue 1px;
  background-color: rgba(255, 255, 255, 0.75);

  .nav-link {
    color: black !important;
    position: relative;
    transition: color 0.2s;

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: $vw-blue;
      opacity: 0;
      transition: left 0.2s, right 0.2s, opacity 0.2s, height 0.1s ease-in-out 0.15s;
    }

    &:hover {
      color: white !important;
      transition: color 0.2s 0.15s;

      &::after {
        opacity: 1;
        left: 10%;
        right: 10%;
        height: 100%;
      }
    }
  }
}

.navbar-brand {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

.navbar-vw-icon {
  height: auto;
  width: 1.6rem;
}

#hero-container {
  flex: 1 0 100vh;
  background-image: url('/assets/img/e-golf-hero.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#cta-container {
  margin-top: 40vh;
}

#cta {
  border-left: solid $vw-blue 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  max-width: max-content;
}

.no-wrap {
  white-space: nowrap;
}

.btn-outline-dark:not(#back-to-top-btn) {
  color: white;
}

section {
  margin-top: 3.5em;
}

// this block is necessary to offset the fixed navbar height for anchor link navigation within the page
.section-title::before {
  display: block;
  content: ' ';
  margin-top: -4rem;
  height: 4rem;
  visibility: hidden;
  pointer-events: none;
}

.gallery-img-container img {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}

.gallery-img-anchor {
  cursor: pointer;
}

.hidden {
  display: none;
}

#similar-vehicles img {
  width: 200px;
}

#back-to-top-container {
  margin-bottom: 3.5em;
}

#footer-nav a:hover {
  text-decoration: underline;
}

#footer-social-links a {
  width: 2em;
  height: auto;
}

#lightbox-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1040;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox {
  position: relative;
}

#lightbox-close-btn {
  position: absolute;
  right: 0;
  top: 0;
}

#lightbox-img {
  max-width: 95vw;
}

@media (min-width: 576px) {
  #similar-vehicles img {
    width: 150px;
  }
}

@media (min-width: 768px) {
  #cta-container {
    margin-top: 50vh;
  }

  #lightbox-img {
    max-width: 70vw;
  }
}
