@import 'variables';
@import 'overrides';

body {
  font-family: 'Fira Sans', sans-serif;
}

.navbar {
  border-bottom: solid $vw-blue 1px;
  background-color: rgba(255, 255, 255, 0.75);

  .nav-link {
    color: black !important;
    padding: 0 1em !important;
    position: relative;
    transition: color 0.2s;

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: $vw-blue;
      opacity: 0;
      transition: left 0.2s, right 0.2s, opacity 0.2s, height 0.1s ease-in-out 0.15s;
    }

    &:hover {
      color: white !important;
      transition: color 0.2s 0.15s;

      &::after {
        opacity: 1;
        left: 10%;
        right: 10%;
        height: 100%;
      }
    }
  }
}

.btn-outline-dark {
  color: white;
}

.navbar-brand {
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  color: inherit !important;
}

.vw-icon {
  height: auto;
  width: 1.6rem;
}

#hero-container {
  flex: 100vh 1 0;
  background-image: url('/assets/img/e-golf-hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#cta-container {
  margin-top: 40vh;
}

#cta {
  border-left: solid $vw-blue 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  max-width: max-content;
}

.no-wrap {
  white-space: nowrap;
}

section {
  margin-top: 2em;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
}

.feature-highlight-title {
  font-size: 1rem;
  font-weight: bold;
  // border-bottom: solid $vw-blue 2px;
}

.gallery-img-container img {
  cursor: pointer;
}

.hidden {
  display: none;
}

#footer-nav a:hover {
  text-decoration: underline;
}

#footer-social-links a {
  width: 2em;
  height: 2em;
}

@media (min-width: 768px) {
  #cta-container {
    margin-top: 50vh;
  }
}
